body {
    margin: 0
}
.container-fluid {
    font-family: 'Concert One', cursive;
    background-color: #eeebdd;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.btn {
    background-color: #810000 !important;
    border: 1px solid black !important;
    transition: 1s !important;
    width: 50px;
}
.btn:active {
    background-color: black !important;
}
.func {
    margin: 5px
}
h3 h1{
    margin: 0;
}

.session {
    position: relative; 
    margin-top: 30px;
    text-align: center;
    transition: 1s;
}


.dual-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto
}
.time-sets {

    margin:0;
    display: grid;
    grid-template-columns: 50px 130px 50px;
    align-items: center;
    text-align: center;
}
.length {
    padding: 10% 18% 5% ;
}

.center-align {
    height: 100vh;
}

.title  {
    font-size: 60px;
}

#time-left  {
    font-size: 80px;
}
.fas {
    color: white;
}
